<h1>Confirmer ma place</h1>
<p>Julie vous remercie pour l’intérêt que vous portez à son évènement ! Toutefois, nous vous demandons de respecter votre réservation par respect pour les autres joueurs.</p>
<%= simple_form_for [@event, @participation] do |f| %>
  <%= f.submit %>
<% end %>

<%= link_to "Annuler", event_path(@event) %>