// Define variables for your color scheme
$background-black: #1F1D2B;
$background-black-clair: rgba(31, 29, 43, 0.5);
$background-card: #242836;
$background-card-clair: #4f5466;
$accent-pink: #F95969;
$accent-dark-pink: #c73342;
$accent-blue: #3EC4EF;
$accent-orange: #FAD13D;
$accent-dark-orange: #b6982d;
$accent-violet: #C71BDB;
$sea-blue: #458FF6;

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

body {
  background-color: $background-black;
  color: white;

}

// .ap-dataset-places body * {
//   color: black;
// }
