.event-game-details {
  width: 75%;

  .event-details {
    width: 60%;
    margin-bottom: 70px;
  }

  .event-show-profile {
    .user-details {
      width: 325px;
    }
  
    .user-infos {
      p {
        margin-bottom: 0px!important;
      }
    }
  
   img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    }
  }

  .game-card {
    width: 75%;
    background-color: $background-card;
    padding: 20px;
    border-radius: 5px;
  
    .game-infos-icons {
      margin-top: 20px;
  
      .game-infos-icon {
        margin-right: 10px;
      }
    }
  }
}

.event-infos {
  width: 300px;
  padding: 20px;
  border-radius: 5px;
  background-color: $background-card;
  top: 60px;
  position: sticky;

  .btn-flat {
    width: 100%;
  }
}
