// Specific CSS for your home-page
body {
  background-color: $background-black;
}

.cards, .testimonials {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.pricings {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.image-right {
  float: right;
}

.image-left {
  float: left;
}
