// Specific CSS for your home-page
body {
  background-color: $background-black;
}

.header {
  margin-top: 200px;
}

.cards, .testimonials {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.pricings {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
