<div class="card">
  <%= image_tag "explodingkittens.jpg", class:"img_game" %>
  <%= image_tag "user.jpg", class:"img_profile" %>
  <div class="card-info">
    <h3>Exploding kittens</h3>
    <div class="d-flex align-items-baseline">
      <i class="fas fa-clock icon-card orange mr-2"></i>
      <p>1 jour 4 heures</p>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Turpis mi, eget venenatis accumsan sed aliquam elit.</p>
    <div class="d-flex align-items-baseline">
      <i class="fas fa-map-marker-alt icon-card blue mr-2"></i>
      <p class="mr-2">Paris</p>
      <i class="fas fa-signal icon-card violet mr-2"></i>
      <p class="mr-2">Expert</p>
      <i class="fas fa-users icon-card orange mr-2"></i>
      <p>3/4</p>
    </div>
  </div>
</div>