<div class="footer-clean">
  <footer>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-sm-4 col-md-3 item">
            <h3>À propos</h3>
            <ul>
                <li><a href="#">Notre histoire</a></li>
                <li><a href="#">Notre équipe</a></li>
                <li><a href="#">Conditions générales</a></li>
                <li><a href="#">Mentions légales</a></li>
            </ul>
        </div>
        <div class="col-sm-4 col-md-3 item">
            <h3>Ressources</h3>
            <ul>
                <li><a href="#">Communauté</a></li>
                <li><a href="#">Support</a></li>
                <li><a href="#">Contactez nous</a></li>
            </ul>
        </div>
        <div class="col-sm-4 col-md-3 item">
            <h3>Notre produit</h3>
            <ul>
                <li><a href="#">Évènements de jeu de société</a></li>
                <li><a href="#">Créer un évènement</a></li>
                <li><a href="#">Participer à un évènement</a></li>
            </ul>
        </div>
        <div class="col-lg-3 item social"><a href="https://github.com/ChenchenZheng/le-plateau"><i class="fab fa-github"></i></a><a href="#"><i class="fab fa-twitter"></i></a><a href="#"><i class="fab fa-linkedin"></i></a>
          <p class="copyright">Le Plateau © 2021</p>
        </div>
      </div>
    </div>
  </footer>
</div>
