<div class="footer-clean">
  <footer>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-sm-4 col-md-3 item">
            <h3>Fonctionnalités</h3>
            <ul>
                <li><a href="#">Évènements de jeu de société</a></li>
                <li><a href="#">Proposer un évènement</a></li>
                <li><a href="#">Participer à un évènement</a></li>
            </ul>
        </div>
        <div class="col-sm-4 col-md-3 item">
            <h3>Ressources</h3>
            <ul>
                <li><a href="#">Code</a></li>
                <li><a href="#">Équipe</a></li>
                <li><a href="#">CGU</a></li>
            </ul>
        </div>
        <div class="col-sm-4 col-md-3 item">
            <h3>À propos de</h3>
            <ul>
                <li><a href="#">Le Plateau</a></li>
                <li><a href="#">Équipe</a></li>
                <li><a href="#">CGU</a></li>
            </ul>
        </div>
        <div class="col-lg-3 item social"><a href="https://github.com/johannbzh/Rent_a_city"><i class="fab fa-github"></i></a><a href="#"><i class="fab fa-twitter"></i></a><a href="#"><i class="fab fa-linkedin"></i></a>
          <p class="copyright">Le Plateau © 2021</p>
        </div>
      </div>
    </div>
  </footer>
</div>
