<div class="pricing orange-border">
  <h5 class="text-center mt-5 freemium">Freemium</h5>
  <h3 class="text-center mb-5 mt-3">0€</h3>
  <div class="d-flex align-items-baseline ml-5 mr-5">
    <i class="fas fa-check-circle icon-card orange mr-2"></i>
    <p>Créer 2 événements / mois</p>
  </div>
  <div class="d-flex align-items-baseline ml-5 mr-5">
    <i class="fas fa-check-circle icon-card orange mr-2"></i>
    <p>Participer à 2 événements / mois</p>
  </div>
  <div class="d-flex align-items-baseline ml-5 mr-5">
    <i class="fas fa-check-circle icon-card orange mr-2"></i>
    <p>Jouer aux 5 jeux de société</p>
  </div>
  <div class="d-flex align-items-baseline ml-5 mr-5">
    <i class="fas fa-check-circle icon-card orange mr-2 invisible"></i>
    <p>Tableau de bord personnalisé</p>
  </div>
  <div class="d-flex align-items-baseline ml-5 mr-5">
    <i class="fas fa-check-circle icon-card mr-2 invisible"></i>
    <p>Jeux de société de tous niveaux</p>
  </div>
  <div class="d-flex justify-content-center mt-5">
    <%= link_to "Sign up", new_user_session_path, class: "btn-flat orange" %>
  </div>
</div>

<div class="pricing pink-border">
  <h5 class="text-center mt-5 premium">Premium</h5>
  <h3 class="text-center mb-5 mt-3">9,99€/mois</h3>
  <div class="d-flex align-items-baseline ml-5 mr-5">
    <i class="fas fa-check-circle icon-card pink mr-2"></i>
    <p>Créer des événements (illimité)</p>
  </div>
  <div class="d-flex align-items-baseline ml-5 mr-5">
    <i class="fas fa-check-circle icon-card pink mr-2"></i>
    <p>Participer à des événements (illimité)</p>
  </div>
  <div class="d-flex align-items-baseline ml-5 mr-5">
    <i class="fas fa-check-circle icon-card pink mr-2"></i>
    <p>Jouer tous les jeux de société</p>
  </div>
  <div class="d-flex align-items-baseline ml-5 mr-5">
    <i class="fas fa-check-circle icon-card pink mr-2"></i>
    <p>Tableau de bord personnalisé</p>
  </div>
  <div class="d-flex align-items-baseline ml-5 mr-5">
    <i class="fas fa-check-circle icon-card pink mr-2"></i>
    <p>Jeux de société de tous niveaux</p>
  </div>
  <div class="d-flex justify-content-center mt-5">
    <%= link_to "Sign up", new_user_session_path, class: "btn-flat pink" %>
  </div>
</div>
