<div class="pricing">
  <h5 class="text-center mt-5">Freemium</h5>
  <h3 class="text-center mb-5 mt-3">0€</h3>
  <div class="d-flex align-items-baseline ml-5 mr-5">
    <i class="fas fa-check-circle icon-card orange mr-2"></i>
    <p>Lorem</p>
  </div>
  <div class="d-flex align-items-baseline ml-5 mr-5">
    <i class="fas fa-check-circle icon-card orange mr-2"></i>
    <p>ipsum dolor sit amet</p>
  </div>
  <div class="d-flex align-items-baseline ml-5 mr-5">
    <i class="fas fa-check-circle icon-card orange mr-2"></i>
    <p>consectetur adipiscing elit</p>
  </div>
  <div class="d-flex align-items-baseline ml-5 mr-5">
    <i class="fas fa-check-circle icon-card orange mr-2"></i>
    <p>ut aliquam</p>
  </div>
  <div class="d-flex align-items-baseline ml-5 mr-5">
    <i class="fas fa-check-circle icon-card mr-2 invisible"></i>
    <p>ut aliquam</p>
  </div>
  <div class="d-flex align-items-baseline ml-5 mr-5">
    <i class="fas fa-check-circle icon-card mr-2 invisible"></i>
    <p>ut aliquam fejzkfe fjezklfjel</p>
  </div>
  <div class="d-flex justify-content-center mt-5">
    <%= link_to "Sign up", new_user_session_path, class: "btn-flat orange" %>
  </div>
</div>