<div class="testimonial">
  <i class="fas fa-quote-left"></i>
  <h5 class="ml-2 mr-2">Une expérience sociale inoubliable.</h5>
  <div class="testimonials-profile d-flex justify-content-end align-items-center">
    <h6>Johann Bzaih</h6><%= image_tag "johann.jpg" %>
  </div>
</div>

<div class="testimonial">
  <i class="fas fa-quote-left"></i>
  <h5 class="ml-2 mr-2">Tous les we, je peux me faire des nouveaux potes et boire du coca.</h5>
  <div class="testimonials-profile d-flex justify-content-end align-items-center">
    <h6>Maxime Jacob</h6><%= image_tag "maxime.jpg" %>
  </div>
</div>

<div class="testimonial">
  <i class="fas fa-quote-left"></i>
  <h5 class="ml-2 mr-2">Le Plateau, c'est le feu.</h5>
  <div class="testimonials-profile d-flex justify-content-end align-items-center">
    <h6>Chenchen Zheng</h6><%= image_tag "chenchen.jpg" %>
  </div>
</div>