<div class="testimonial">
  <i class="fas fa-quote-left"></i>
  <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h5>
  <div class="testimonials-profile d-flex justify-content-end align-items-center">
    <h6>Julie Boss</h6><%= image_tag "user.jpg" %>
  </div>
</div>
