.card {
  width: 326px;
  height: 480px;
  border-radius: 5px;
  margin-bottom: 25px;
  background-color: $background-card;

  .event-description {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    height: 90px;
  }

  .event-icons {
    font-size: 13px;
  }

  .img_game {
    width: 90%;
    height: 200px;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 5px;
    position: relative;
  }

  .img_profile {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    margin-left: 235px;
    margin-top: 189px;
  }

  .card-info {
    margin: 25px;
  }
}

.card-solo {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
}
