.modal-content.black-modal {
  background-color: $background-card;

  img {
    width: 100px;
  }
}

.modal-content.black-modal.modal-participant img {
  width: 50px;
}

.modal-header, .modal-footer {
  border-top: none;
  border-bottom: none;
}

h1#exampleModalLabel {
  flex-grow: 1;
  text-align: center;
}
