.navbar-lewagon {
  justify-content: space-between;
  background: $background-black;
  position: fixed;
  top: 0;
  z-index: 1;
  width:100%;
  
  .navbar-brand img {
    width: 40px;
  }

  .navbar-collapse {
    flex-grow: 0;

    ul {
      color: white;

      .dropdown-menu {
        background-color: $background-card;

        .dropdown-item {
          color: white;

          &:hover {
            background-color: $background-card-clair;
          }
        }
      };

      .nav-link {
        color: white;
        transition: 0.3s;
        margin-right: 15px;
  
        &.active {
          color: $accent-pink;
          border-bottom: 2px solid $accent-pink;
          padding-bottom: 3px
        }

        &:not(.active):hover {
          color: white;
        }
      }
    }
  }
}
