.btn-wrap {
  position: relative;
}

#notifs.fa-envelope {
  position: absolute;
  height: 10px;
  width: 10px;
  top: 12px;
  right: 73px;
  color:$accent-pink;
  display: none;
}

#notifs.active {
  display: block;
}
