<h1 class="text-center mb-5">Placez le codebar de votre jeu de société devant la caméra</h1>
<h2 class="text-center">Attention</h2>
<p class="text-center mb-5">Notre clé de l'API pour retrouver le jeu de société grâce à son codebar est expiré, cette fonctionnalité n'est donc plus supportée par notre application.</p>
<div class="mx-auto" id='barcode-scanner'></div>
