<h1>Laissez un review pour tous les participants</h1>
<% @other_participations.each do |participation| %>
  <%= link_to "Laissez un review pour #{participation.user.first_name}", new_event_review_path(to_user_id: participation.user.id) %><br>
<% end %>
