<h1>Laissez un review pour tous les participants</h1>
<% @to_users.each do |user| %>
  <%= link_to "Laissez un review pour #{user.first_name}", new_event_review_path(to_user_id: user.id) %><br>
<% end %>
